@page
@model InventorySystemWebUI.Pages.Module.UserManagement.RoleListModel
@{
    ViewData["Title"] = "Role List";
}


<div style="margin-left:60px" class="mt-3 d-flex justify-content-center align-items-center">
    <div class="content-body container px-5">
        <div class="content-header">
            <div class="row content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mt-3 d-inline-block">Role List</h3>
                <div class="breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="card">
            <div class="p-1 card-body">
                <a asp-page="/Module/UserManagement/CreateRole" class="btn btn-primary btn-md ms-5">Create New Role</a>
                <hr />
                <table class="mb-4 ms-5 table table-responsive table-striped">
                    <thead class="">
                        <tr>
                            <th>Role</th>
                            <th>Details</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                             <td>ADMIN</td>
                             <td>Total Access</td>
                             <td><button class="btn btn-primary">Edit</button></td>
                         </tr>
                        <tr>
                            <td>ADMIN</td>
                            <td>Total Access</td>
                            <td><button class="btn btn-primary">Edit</button></td>
                        </tr>
                        <tr>
                            <td>ADMIN</td>
                            <td>Total Access</td>
                            <td><button class="btn btn-primary">Edit</button></td>
                        </tr>
                        <tr>
                            <td>ADMIN</td>
                            <td>Total Access</td>
                            <td><button class="btn btn-primary">Edit</button></td>
                        </tr>
                        <tr>
                            <td>ADMIN</td>
                            <td>Total Access</td>
                            <td><button class="btn btn-primary">Edit</button></td>
                        </tr>
                        <tr>
                            <td>ADMIN</td>
                            <td>Total Access</td>
                            <td><button class="btn btn-primary">Edit</button></td>
                        </tr>
                        <tr>
                            <td>ADMIN</td>
                            <td>Total Access</td>
                            <td><button class="btn btn-primary">Edit</button></td>
                        </tr>
                        <tr>
                            <td>ADMIN</td>
                            <td>Total Access</td>
                            <td><button class="btn btn-primary">Edit</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>